html {
  height: 100%;
  /*line-height: 1.5;*/
  overflow: hidden; /* Prevents rubber-band scrolling of the whole "page" */
  background-color: #fff; /* To cover OSes with no default background color */

  display: block;
}

body {
  margin: 0;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 100;
  display: flex;

}
