.parameterscreen {
  position: relative;
  max-width: 740px;
  margin: 0 auto;
  margin-left: 0;
  width: 100%;
  padding: 2rem 2rem 1rem 2rem;
  border-bottom: 1px solid var(--color-border);
  background-color: white ;
  transform: translateX(0);
}
